In [1]:
# Dependencies and Setup
import pandas as pd

vine_table = "Resources/vine_table.csv"

vine_table_df = pd.read_csv(vine_table)

In [2]:
# verify table
vine_table_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [3]:
# verify data types
vine_table_df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [4]:
# locate all reviews w/ >=20 total_votes
total_votes_20 = vine_table_df.loc[vine_table_df['total_votes'] >= 20]
total_votes_20.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [5]:
# locate all reviews w/ helpful_votes/total_votes>=50% 
perc_helpful_df = total_votes_20.loc[total_votes_20['helpful_votes']/total_votes_20['total_votes'] >= .5]
perc_helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [6]:
# retrieve all the rows where a review was written as part of the Vine program
helpful_vines_df = perc_helpful_df.loc[perc_helpful_df['vine'] == 'Y']
helpful_vines_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [7]:
helpful_nonvines_df = perc_helpful_df.loc[perc_helpful_df['vine'] == 'N']
helpful_nonvines_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [8]:
# Total num reviews
total_vote_len = len(total_votes_20.index)
total_vote_len

65379

In [9]:
# Total num of 5 star reviews
total_5star_len = len(helpful_vines_df.loc[helpful_vines_df['star_rating'] == 5]
    .index)+len(helpful_nonvines_df.loc[helpful_nonvines_df['star_rating'] == 5].index)
total_5star_len

15711

In [10]:
# number of 5 star reviews; vine
vine_5star_df = helpful_vines_df.loc[helpful_vines_df['star_rating'] == 5]

vine_5star_len = len(vine_5star_df.index)
print(vine_5star_len)

48

In [11]:
# percent of 5 star reviews; vine
perc_5star_vine = vine_5star_len/total_5star_len*100
perc_5star_vine

0.30551842658010314

In [12]:
# number of 5 star reviews; nonvine
nonvine_5star_df = helpful_nonvines_df.loc[helpful_nonvines_df['star_rating'] == 5]

nonvine_5star_len = len(nonvine_5star_df.index)
print(nonvine_5star_len)

15663

In [13]:
# percent of 5 star reviews; nonvine
perc_5star_nonvine = nonvine_5star_len/total_5star_len*100
perc_5star_nonvine

99.6944815734199